@model ListingProjectsDTO

<!DOCTYPE html>
<html>
<head>
    <title>Edit Listing</title>
</head>
<body>
@using (Html.BeginForm("Update", "Home", FormMethod.Post))
{
    <input type="hidden" name="ListingProjectsFKId" value="@Model.ListingProjectsFKId" />
    <label for="ListingName_DTO">Listing Name:</label>
    @Html.TextBoxFor(m => m.ListingName_DTO, new { @class = "form-control" })

    <label for="ListingId">Listing ID:</label>
    @Html.TextBoxFor(m => m.ListingId, new { @class = "form-control", @readonly = "readonly" })

    <button type="submit" class="btn btn-primary">Save Changes</button>
}
</body>
</html>
