@model ListingProjectsDTO

@{
    ViewBag.Title = "InsertListings";
}

<h2>Insert Listings</h2>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<p>
    <input type="button" id="btnCreateUser" value="Create User"  class="btn btn-default" />
</p>


<table id="preExistingDashboard" class="table"></table>


<div id="InsertListings" class="form-horizontal">
    <h4>Users</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class = "control-label col-md-2">Name</label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="Name" id="Name"/>
        </div>
    </div>
    <div class="form-group">
        <label class = "control-label col-md-2">Name</label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="Name" id="Name"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Address</label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="Address" id="Address" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Phone Number</label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="PhoneNumber" id="PhoneNumber" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" id="btnCreate"value="Create" class="btn btn-default" />
            <input type="button" id="btnJson" value="Create Json"  class="btn btn-default" />
        </div>
    </div>
</div>  
<script type="text/javascript">  
$("#btnCreate").click(function () {  
        var objUser = {}; 
        //objUser is variable through which i am passing the details filled by the user to the controller  
        objUser.ListingId = 
        objUser.ListingName = $("#Name").val();            //fetching value from the textbox  
        objUser.CategoryId = $("#Address").val();  
        objUser.LocationId = $("#PhoneNumber").val();  
        $.post("/Home/InsertListings/", { objUser: objUser }, function (data)        //data is a variable which contains the data returned from the action method  
        {  
            if (data != null) {                  
                alert("User Created");  
                location.reload();       //for refreshing the page after saving   
            }  
            else {  
                alert("Error");  
            }  
        });  
    })  
 </script>  
