@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h4>Lorem Ipsum</h4>
    <table class="hist_table"> 
        <tr>
            <button class="horsens_hist">Show Available Listings Data</button>
        </tr>
    </table>
    <div class="flex-d-column">
        <select id="filterByYear">
        </select>
        <div class="fullWidth">
            <canvas id="mylineChart1"></canvas>
        </div>
        <div class="flex-d-row fullWidth">
            <div class="chart-container">
                <canvas id="mypieChart1"></canvas>
            </div>
            <div class="chart-container">
                <canvas id="mypieChart2"></canvas>
            </div>
        </div>
    </div>
</div>
